# Database
DATABASE_URL="postgresql://postgres.lozhyvyyewmbelzgadls:monis-arya1234!@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"







# # Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
# DATABASE_URL="postgresql://postgres.lozhyvyyewmbelzgadls:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# # Connect to Postgres via the shared session-mode pooler (used for migrations)
# DIRECT_URL="postgresql://postgres.lozhyvyyewmbelzgadls:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"